/* Resetting margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 20px;
}

/* Header Styles */
header {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

/* Dashboard Styles */
#transparansi {
    margin-top: 40px;
}

#financial-table {
    width: 100%;
    border-collapse: collapse;
}

#financial-table th, #financial-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

#financial-table th {
    background-color: #4CAF50;
    color: white;
}

